<div class="container-md">
   <div class="card">
      <div class="card-heading bg-primary">
         <div class="card-title">Facility Hours</div>
      </div>
      <div class="card-body">


                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Facility</th>
                               <th>Open (AM)</th>
                               <th>Close (PM)</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                                <td>Main Office</td>
                               <td>7:35</td>
                               <td>4:30</td>
                                </tr>
                            <tr>
                               <td>SPS</td>
                               <td>7:45</td>
                               <td>3:15</td>
                            </tr>
                            <tr>
                               <td>Test Retake Center</td>
                               <td>7:00</td>
                               <td>4:30</td>
                            </tr>
                             <tr>
                               <td>LRC</td>
                               <td>7:00</td>
                               <td>4:00</td>
                            </tr>
                             <tr>
                               <td>CRC</td>
                               <td>7:45</td>
                               <td>3:30</td>
                            </tr>
                              <tr>
                               <td>Health Center</td>
                               <td>7:45</td>
                               <td>4:00</td>
                            </tr>
                             <tr>
                               <td>Book Store</td>
                               <td>7:45</td>
                               <td>3:15</td>
                            </tr>
                             <tr>
                               <td>ChromeDepot</td>
                               <td>7:15</td>
                               <td>3:45</td>
                            </tr>
                             <tr>
                               <td>Guidance Office</td>
                               <td>7:45</td>
                               <td>3:30</td>
                            </tr>
                             <tr>
                               <td>Facility</td>
                               <td>__:__</td>
                               <td>__:__</td>
                            </tr>

                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
            </div>






      </div>
   </div>
</div>
