<h3>Lunch Menu
   <small></small>
</h3>



<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>



  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span><b>Feb 6</b><br>Cheeseburger/Fries, Chicken Sandwiches Mushroom Onion Burger<br>Taco-Burritos<br>Nacho's Quesadilla's<br>Hot Dog<br>Veggie Sandwich</span>
  </md-whiteframe>

</div>
