<div class="container container-md">



   <h4 class="mv-lg pv-lg text-dark">Career Focused Clubs</h4>
   <uib-accordion close-others="true">
      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen2">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>DECA</span>
         </uib-accordion-heading>

         <center>    <img style="margin: auto; max-width: 50%; align="middle";"  alt="Lush mango tree" src="https://goo.gl/1pPnle"> </center>


         <p><strong>Meeting time/location:</strong></p>

        <p>Membership meetings are once a month in either student cafe, room 123, or 121. Email reminders will be sent out to students that have signed up.</p>


        <p><strong>Sponsor(s):</strong></p>

        <p>Rebecca Stewart, CTE Department Chair (rstewart@maine207.org) & John Schwan, CTE Department, Business Teacher (jschwan@maine207.org)</p>


          <p><strong>Club Website:</strong></p>

      <p><a href="https://www.deca.org/">deca.org</a></p>

<p><strong>Club Description:</strong></p>

         <p>DECA is an international association of high school and college students and teachers of marketing, management and entrepreneurship
            in business, finance, hospitality, and marketing sales and service. DECA is preparing emerging leaders and entrepreneurs to be
            college and career ready. The organization prepares leaders and entrepreneurs for careers and education in marketing, finance,
            hospitality, management, and other business areas. It is one of ten organizations being led by
            a parent organization known as "CTSO" Career and Technical Student Organizations. For more info visit <a href="https://www.deca.org/">deca.org</a></p>

         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen3">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Tech Genius</span>
         </uib-accordion-heading>
         <center>    <img style="margin: auto; max-width: 50%; align="middle";"  alt="Lush mango tree" src="https://goo.gl/egAqWn"> </center>


         <p><strong>Meeting time/location:</strong></p>

        <p>Membership meetings are every two weeks in, room 220D. Officer meetings are usually the opposite weeks of membership meetings in room 220D . Email reminders will be sent out.</p>


        <p><strong>Sponsor(s):</strong></p>

        <p>Michael Cannizzo, District Technology support manager  Department (<a href="mailto:mcannizzo@maine207.org" target="_top">mcannizzo@maine207.org</a>) & Pamela Morgan, LRC Department (<a href="mailto:pmorgan@maine207.org" target="_top">pmorgan@maine207.org</a>)</p>


          <p><strong>Club Website:</strong></p>

      <p><a href="http://www.metechgenius.com/">metechgenius.com</a></p>

<p><strong>Club Description:</strong></p>

         <p>The Maine East Tech Genius Club is made up of students from all grade levels (9-12). Tech Genius members have a wide
           range of interests whether its robotics, traditional IT, programming or any other technology related field. The purpose
           of the club is to give students an opportunity to explore their interests and develop educational and career paths to
           achieve their personal and professional goals. Students are also encouraged to develop interpersonal, communication and
           leadership skills vital to any successful endeavor.   </p>

           <p>Club activities that facilitate student growth include: regular club meetings, sharing technology developments and news, discussions
             of how technology affects their world, relevant field trips, public presentations, opportunities to serve the school community as
             technology experts, participation in a professional guest speak program and so much more. For more info visit <a href="http://www.metechgenius.com/">metechgenius.com</a></p>

         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen4">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>FCCLA</span>
         </uib-accordion-heading>

         <center>    <img style="margin: auto; max-width: 50%; align="middle";"  alt="Lush mango tree" src="https://goo.gl/5Unf80"> </center>


                  <p><strong>Meeting time/location:</strong></p>

                 <p>Membership meetings are few times a month in the Maine East Kitchen or the fashion classroom. Email reminders will be sent out.</p>


                 <p><strong>Sponsor(s):</strong></p>

                 <p>Ms. Flores, F.C.C.L.A. - Early Childhood (<a href="mailto:fflores@maine207.org" target="_top">fflores@maine207.org</a>), Ms. Salmansohn, F.C.C.L.A. - Culinary (<a href="mailto:asalmansohn@maine207.org" target="_top">asalmansohn@maine207.org</a>) & Mrs. Scott, F.C.C.L.A. - Fashion (<a href="mailto:fscott@maine207.org" target="_top">fscott@maine207.org</a>)</p>


                   <p><strong>Club Website:</strong></p>

               <p><a href="http://fcclainc.org/">fcclainc.org</a></p>

         <p><strong>Club Description:</strong></p>

                  <p>FCCLA's mission statement is to promote personal growth and leadership development through Family and Consumer Sciences education.</p>

                    <p>FCCLA, short for Family, Career and Community Leaders of America, is a cocurricular organization that aims to help
                      youth in public and private schools with family bonds, careers, and participation in the community. For more info
                      visit <a href="http://fcclainc.org/">fcclainc.org</a></p>



         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen5">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Skills USA</span>
         </uib-accordion-heading>

         <center>    <img style="margin: auto; max-width: 50%; align="middle";"  alt="Lush mango tree" src="https://goo.gl/Gipm4Z"> </center>


                  <p><strong>Meeting time/location:</strong></p>

                 <p>Membership meetings are every once a week in room 176A next to the weight room. Email reminders will be sent out.</p>


                 <p><strong>Sponsor(s):</strong></p>

                 <p>Mr. Kaiser, CTE Department (<a href="mailto:tkaiser@maine207.org" target="_top">tkaiser@maine207.org</a>) </p>


                   <p><strong>Club Website:</strong></p>

               <p><a href="http://www.skillsusa.org/">skillsusa.org</a></p>

         <p><strong>Club Description:</strong></p>

                  <p>SkillsUSA is a partnership of students, teachers and industry working together to ensure America has a skilled
                    workforce. SkillsUSA helps each student excel. We provide educational programs, events and competitions that
                    support career and technical education (CTE) in the nation’s classrooms.</p>

                    <p>SkillsUSA is serving more than 360,000 high school and college students and professional members enrolled
                      in training programs in technical, skilled, and service occupations, including health occupations. For more info visit
                          <a href="http://www.skillsusa.org/">skillsusa.org</a>
                  </p>



         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen6">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Robotics Club</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


   </uib-accordion>



   <h4 class="mv-lg pv-lg text-dark">Service Clubs</h4>
   <uib-accordion close-others="true">
      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen1">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Rotary Interact</span>
         </uib-accordion-heading>

         <center>    <img style="margin: auto; max-width: 50%; align="middle";"  alt="Lush mango tree" src="http://i.imgur.com/sKbzlWG.png"> </center>


           <p>
       <strong>Meeting time/location:</strong> <p>Membership meetings are 2 to 3 times in either student cafe, faculty lodge, or room 123. Officer
       meetings are usually once a week in room 123. Email reminders will be sent out.</p>
         </p>

       <p>
         <strong>Sponsor(s):</strong> <p>John Schwan, CTE Department (jschwan@maine207.org) & Shawn Farrington, CTE Department (sfarrington@maine207.org)</p>
       </p>

       <p>
         <strong>Club Website:</strong> <p><a href="https://eastrotary.org/">eastrotary.org</a></p>
       </p>

         <p>

       <strong>School year calendar:</strong>
       <p>Membership meeting: Late September or October</p>

       <p>Park Ridge Charity Classic Run: September</p>

       <p>Candy Sales: November</p>

       <p>WGN Christmas Toy Drive: Late December</p>

       <p>Rotary Youth Leadership Awards: March and April</p>

       <p>Digital Literacy: Varied</p>

       <p>Mentorship: Varied</p>

         </p>

         <p>
           <strong>Club Description:</strong> <p>Rotary Interact at Maine East High School is the largest, most
           prestigious club in the world and at Maine East. The club offers invaluable benefits to its members including
           leadership, scholarship, mentorship, and scholarship opportunities. Each year Rotary Interact
           members at Maine East get involved in projects various projects including the WGN Christmas Toy
           Drive, annual dodgeball tournament for global iniciative, digital litarcy, and other side events.</p>

           <p>Rotary Interact is Rotary International's service club for young people ages 12 to 18. Interact clubs
             are sponsored by individual Rotary clubs. For more info on Rotary International visit <a href="https://www.rotary.org">rotary.org</a> </p>
         </p>



         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen2">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>National Honor Society</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen3">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Bake for a Change Club</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen4">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Amnesty International</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>
   </uib-accordion>


   <h4 class="mv-lg pv-lg text-dark">Ethnic Clubs</h4>
   <uib-accordion close-others="true">
      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen1">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>South Asian Club</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen2">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Polish Club</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen3">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>Latino Club</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>


      <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen4">
         <uib-accordion-heading>
            <small>
               <em class="fa fa-plus text-primary mr"></em>
            </small>
            <span>French Club</span>
         </uib-accordion-heading>
         <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
            adipiscing.</p>
         <p>Proin ut urna enim.</p>
         <div class="pull-right">
            <small class="text-muted mr">Was this information useful?</small>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-up text-muted"></em>
            </button>
            <button class="btn btn-default btn-xs" type="button">
               <em class="fa fa-thumbs-down text-muted"></em>
            </button>
         </div>
      </div>

   </uib-accordion>



      <h4 class="mv-lg pv-lg text-dark">More clubs coming soon</h4>
      <uib-accordion close-others="true">
         <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen1">
            <uib-accordion-heading>
               <small>
                  <em class="fa fa-plus text-primary mr"></em>
               </small>
               <span>Club</span>
            </uib-accordion-heading>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
               adipiscing.</p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
               <small class="text-muted mr">Was this information useful?</small>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-up text-muted"></em>
               </button>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-down text-muted"></em>
               </button>
            </div>
         </div>


         <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen2">
            <uib-accordion-heading>
               <small>
                  <em class="fa fa-plus text-primary mr"></em>
               </small>
               <span>Club</span>
            </uib-accordion-heading>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
               adipiscing.</p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
               <small class="text-muted mr">Was this information useful?</small>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-up text-muted"></em>
               </button>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-down text-muted"></em>
               </button>
            </div>
         </div>


         <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen3">
            <uib-accordion-heading>
               <small>
                  <em class="fa fa-plus text-primary mr"></em>
               </small>
               <span>Club</span>
            </uib-accordion-heading>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
               adipiscing.</p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
               <small class="text-muted mr">Was this information useful?</small>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-up text-muted"></em>
               </button>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-down text-muted"></em>
               </button>
            </div>
         </div>


         <div class="b0" uib-accordion-group="uib-accordion-group" is-open="isAccOpen4">
            <uib-accordion-heading>
               <small>
                  <em class="fa fa-plus text-primary mr"></em>
               </small>
               <span>Club</span>
            </uib-accordion-heading>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat
               adipiscing.</p>
            <p>Proin ut urna enim.</p>
            <div class="pull-right">
               <small class="text-muted mr">Was this information useful?</small>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-up text-muted"></em>
               </button>
               <button class="btn btn-default btn-xs" type="button">
                  <em class="fa fa-thumbs-down text-muted"></em>
               </button>
            </div>
         </div>

      </uib-accordion>


</div>
