<div class="container-md">
   <div class="card">
      <div class="card-heading bg-primary">
         <div class="card-title">2016-17 School Calendar</div>
      </div>
      <div class="card-body">

         <div class="panel shadow-z4">
            <div class="panel-body">
               <h3 class="mv-lg text-left"><b>August 2016</b></h3>
               <p class="mv-lg text-left"><font size="4">August 15 (Monday)</font> <br> Official Opening of School for Students:<br> School day</p>

               <p class="mv-lg text-left"><font size="4">August 15 (Monday)</font> <br> Official Opening of School for Students:<br> School day</p>

            </div>
         </div>

         <div class="panel shadow-z4">
            <div class="panel-body">
               <h3 class="mv-lg text-left"><b>September 2016</b></h3>
               <p class="mv-lg text-left"><font size="4">September 1 (Thursday)</font> <br> Meet the Teacher<br> Evening</p>
               <p class="mv-lg text-left"><font size="4">September 2 (Friday)</font> <br> Half Day Testing<br> Early Dismissal</p>
                <p class="mv-lg text-left"><font size="4">September 5 (Monday)  </font>Labor day <br>NO SCHOOL  <br> </p>

            </div>
         </div>

         <div class="panel shadow-z4">
            <div class="panel-body">
               <h3 class="mv-lg text-left"><b>October 2016</b></h3>
               <p class="mv-lg text-left"><font size="4">October 6 (Thursday)</font> <br> Half-Day School<br>Early Dismissal</p>
               <p class="mv-lg text-left"><font size="4">October 6 (Thursday) </font> <br> Parent-Teacher Conferences<br> 2:00 PM</p>
               <p class="mv-lg text-left"><font size="4">October 6 (Thursday</font> <br> Parent-Teacher Conferences<br> 6:00 PM</p>
                <p class="mv-lg text-left"><font size="4">October 7 (Friday)  </font><br>Institute Day <br>NO SCHOOL <br> </p>
                <p class="mv-lg text-left"><font size="4">October 10 (Monday)  </font><br>Columbus day <br>NO SCHOOL  <br> </p>
                <p class="mv-lg text-left"><font size="4">October 14 (Friday)  </font><br>End of 1st Quarter <br>School Day  <br> </p>
                <p class="mv-lg text-left"><font size="4">October 19 (Wednesday)  </font><br> Half Day Testing <br>Early Dismissal  <br> </p>


            </div>
         </div>

         <div class="panel shadow-z4">
                     <div class="panel-body">

                        <h3 class="mv-lg text-left"><b>November 2016</b></h3>
                        <p class="mv-lg text-left"><font size="4">November 23 (Wednesday)</font> <br> No School <br> Non-attendance Day </p>
                        <p class="mv-lg text-left"><font size="4">November 24 (Thursday) </font> <br> No School <br>Thanksgiving Day</p>
                        <p class="mv-lg text-left"><font size="4">November 25 (Friday)</font> <br> No School <br>School Holiday</p>


                   </div>
          </div>

          <div class="panel shadow-z4">
           <div class="panel-body">

              <h3 class="mv-lg text-left"><b>December 2016</b></h3>

              <p class="mv-lg text-left"><font size="4">December 20 (Thursday) </font> <br> Parent-Teacher Conferences<br> 2:00 PM</p>
              <p class="mv-lg text-left"><font size="4">December 21 (Thursday</font> <br> Parent-Teacher Conferences<br> 6:00 PM</p>
               <p class="mv-lg text-left"><font size="4">December 22 (Friday)  </font><br>Institute Day <br>NO SCHOOL <br> </p>
               <p class="mv-lg text-left"><font size="4">December 21 (Monday)  </font><br>Columbus day <br>NO SCHOOL  <br> </p>
               <p class="mv-lg text-left"><font size="4">December 22 (Friday)  </font><br>End of 2nd Quarter Ends  <br>School Day  <br> </p>
               <p class="mv-lg text-left"><font size="4">December 19 (Wednesday)  </font><br> Half Day Testing <br>Early Dismissal  <br> </p>


           </div>
        </div>

        <div class="panel shadow-z4">
         <div class="panel-body">
           <h3 class="mv-lg text-left"><b>January 2017</b></h3>
<p class="mv-lg text-left"><font size="4">January 9 (Monday) </font> <br> Resume school after Winter Break<br></p>
              <p class="mv-lg text-left"><font size="4">January 16 (Monday)</font> <br> No School <br> ML King’s Birthday </p>



         </div>
      </div>

      <div class="panel shadow-z4">
       <div class="panel-body">

         <h3 class="mv-lg text-left"><b>February 2017</b></h3>
                      <p class="mv-lg text-left"><font size="4">February 17 ( Friday)</font> <br> No School <br> Teacher Inservice(teachers in attendance) </p>
                      <p class="mv-lg text-left"><font size="4">February 20 (Monday) </font> <br> No School <br>President’s Day</p>

       </div>
      </div>

      <div class="panel shadow-z4">
       <div class="panel-body">

         <h3 class="mv-lg text-left"><b>March 2017</b></h3>
                       <p class="mv-lg text-left"><font size="4">March 15 (Friday)</font> <br> Third Quarter Ends <br> </p>
                       <p class="mv-lg text-left"><font size="4">March  18 (Thursday) </font> <br> Spring Break Begins <br></p>
                       <p class="mv-lg text-left"><font size="4">March 27 (Monday)</font> <br> Resume School <br>End of Spring Break</p>

       </div>
      </div>

      <div class="panel shadow-z4">
       <div class="panel-body">

         <h3 class="mv-lg text-left"><b>April 2017</b></h3>
                       <p class="mv-lg text-left"><font size="4">April 4(Friday)</font> <br> No School <br> Local Holiday</p>

       </div>
      </div>

      <div class="panel shadow-z4">
       <div class="panel-body">
         <h3 class="mv-lg text-left"><b>May 2017</b></h3>
                        <p class="mv-lg text-left"><font size="4">May 24 (Wednesday)</font> <br> Semester 2 Exams <br> 3,2,6 </p>
                        <p class="mv-lg text-left"><font size="4">May 25 (Thursday) </font> <br>Semester 2 Exams <br>1,9,5</p>
                        <p class="mv-lg text-left"><font size="4">May 26 (Friday)</font> <br> Semester 2 Exams <br>7,4,8</p>
          <p class="mv-lg text-left"><font size="4">May 26 (Wednesday)</font> <br> Fourth Quarter Ends <br>Last Day of school </p>


       </div>
      </div>





      </div>
   </div>
</div>
