<h3>Bell Schedule
   <small></small>
</h3>


<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Live">
        <md-content class="md-padding">
          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">

                     <iframe  style="border:none;" src="http://easttime.maine207.org/"></iframe>

                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>

        </md-content>
      </md-tab>

      <md-tab label="Regular">
        <md-content class="md-padding">
          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Period</th>
                               <th>Start</th>
                               <th>End</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                                <td>Flap</td>
                               <td>7:30</td>
                               <td>7:45</td>
                                </tr>
                            <tr>
                               <td>1</td>
                               <td>7:45</td>
                               <td>8:30</td>
                            </tr>
                            <tr>
                               <td>2A</td>
                               <td>8:35</td>
                               <td>8:55</td>
                            </tr>
                             <tr>
                               <td>2B</td>
                               <td>9:00</td>
                               <td>9:20</td>
                            </tr>
                             <tr>
                               <td>3A</td>
                               <td>9:25</td>
                               <td>9:45</td>
                            </tr>
                              <tr>
                               <td>3B</td>
                               <td>9:50</td>
                               <td>10:10</td>
                            </tr>
                             <tr>
                               <td>Announcements</td>
                               <td>10:10</td>
                               <td>10:15</td>
                            </tr>
                             <tr>
                               <td>4A</td>
                               <td>10:20</td>
                               <td>10:40</td>
                            </tr>
                             <tr>
                               <td>4B</td>
                               <td>10:45</td>
                               <td>11:05</td>
                            </tr>
                             <tr>
                               <td>5A</td>
                               <td>11:10</td>
                               <td>11:30</td>
                            </tr>
                             <tr>
                               <td>5B</td>
                               <td>11:35</td>
                               <td>11:55</td>
                            </tr>
                             <tr>
                               <td>6A</td>
                               <td>12:00</td>
                               <td>12:20</td>
                            </tr>
                             <tr>
                               <td>6B</td>
                               <td>12:25</td>
                               <td>12:45</td>
                            </tr>
                             <tr>
                               <td>7A</td>
                               <td>12:50</td>
                               <td>1:10</td>
                            </tr>
                             <tr>
                               <td>7B</td>
                               <td>1:15</td>
                               <td>1:35</td>
                            </tr>
                             <tr>
                               <td>8A</td>
                               <td>1:40</td>
                               <td>2:00</td>
                            </tr>
                             <tr>
                               <td>8B</td>
                               <td>2:05</td>
                               <td>2:25</td>
                            </tr>
                             <tr>
                               <td>9</td>
                               <td>2:30</td>
                               <td>3:15</td>
                             </tr>
                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>

        </md-content>
      </md-tab>
      <md-tab label="Wednesday Collab">
        <md-content class="md-padding">

          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Period</th>
                               <th>Start</th>
                               <th>End</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                                <td>Flap</td>
                               <td>8:30</td>
                               <td>8:48</td>
                                </tr>
                            <tr>
                               <td>1</td>
                               <td>8:48</td>
                               <td>9:27</td>
                            </tr>
                            <tr>
                               <td>2A</td>
                               <td>9:32</td>
                               <td>9:48</td>
                            </tr>
                             <tr>
                               <td>2B</td>
                               <td>9:53</td>
                               <td>10:10</td>
                            </tr>
                             <tr>
                               <td>3A</td>
                               <td>10:15</td>
                               <td>10:32</td>
                            </tr>
                              <tr>
                               <td>3B</td>
                               <td>10:37</td>
                               <td>10:54</td>
                            </tr>
                             <tr>
                               <td>4A</td>
                               <td>10:59</td>
                               <td>11:15</td>
                            </tr>
                             <tr>
                               <td>4B</td>
                               <td>11:20</td>
                               <td>11:37</td>
                            </tr>
                             <tr>
                               <td>5A</td>
                               <td>11:42</td>
                               <td>11:59</td>
                            </tr>
                             <tr>
                               <td>5B</td>
                               <td>12:04</td>
                               <td>12:21</td>
                            </tr>
                             <tr>
                               <td>6A</td>
                               <td>12:26</td>
                               <td>12:42</td>
                            </tr>
                             <tr>
                               <td>6B</td>
                               <td>12:47</td>
                               <td>1:04</td>
                            </tr>
                             <tr>
                               <td>7A</td>
                               <td>1:09</td>
                               <td>1:26</td>
                            </tr>
                             <tr>
                               <td>7B</td>
                               <td>1:31</td>
                               <td>1:48</td>
                            </tr>
                             <tr>
                               <td>8A</td>
                               <td>1:53</td>
                               <td>2:09</td>
                            </tr>
                             <tr>
                               <td>8B</td>
                               <td>2:14</td>
                               <td>2:31</td>
                            </tr>
                             <tr>
                               <td>9</td>
                               <td>2:36</td>
                               <td>3:15</td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>

        </md-content>
      </md-tab>
      <md-tab label="R-Code">
        <md-content class="md-padding">
          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Period</th>
                               <th>Start</th>
                               <th>End</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                                  <td>Flap</td>
                               <td>8:30</td>
                               <td>8:45</td>
                                </tr>
                            <tr>
                               <td>1</td>
                               <td>8:48</td>
                               <td>9:24</td>
                            </tr>
                            <tr>
                               <td>2A</td>
                               <td>9:29</td>
                               <td>9:43</td>
                            </tr>
                             <tr>
                               <td>2B</td>
                               <td>9:48</td>
                               <td>10:02</td>
                            </tr>
                             <tr>
                               <td>3A</td>
                               <td>10:07</td>
                               <td>10:21</td>
                            </tr>
                              <tr>
                               <td>3B</td>
                               <td>10:26</td>
                               <td>10:41</td>
                            </tr>
                             <tr>
                               <td>R-Code Lesson</td>
                               <td>10:41</td>
                               <td>11:01</td>
                            </tr>
                             <tr>
                               <td>4A</td>
                               <td>11:06</td>
                               <td>11:22</td>
                            </tr>
                             <tr>
                               <td>4B</td>
                               <td>11:27</td>
                               <td>11:44</td>
                            </tr>
                             <tr>
                               <td>5A</td>
                               <td>11:49</td>
                               <td>12:06</td>
                            </tr>
                             <tr>
                               <td>5B</td>
                               <td>12:11</td>
                               <td>12:29</td>
                            </tr>
                             <tr>
                               <td>6A</td>
                               <td>12:34</td>
                               <td>12:50</td>
                            </tr>
                             <tr>
                               <td>6B</td>
                               <td>12:55</td>
                               <td>1:12</td>
                            </tr>
                             <tr>
                               <td>7A</td>
                               <td>1:17</td>
                               <td>1:34</td>
                            </tr>
                             <tr>
                               <td>7B</td>
                               <td>1:39</td>
                               <td>1:56</td>
                            </tr>
                             <tr>
                               <td>8A</td>
                               <td>2:01</td>
                               <td>2:15</td>
                            </tr>
                             <tr>
                               <td>8B</td>
                               <td>2:20</td>
                               <td>2:34</td>
                            </tr>
                             <tr>
                               <td>9</td>
                               <td>2:39</td>
                               <td>3:15</td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>


        </md-content>
      </md-tab>
      <md-tab label="Homeroom">
        <md-content class="md-padding">

          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Period</th>
                               <th>Start</th>
                               <th>End</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td>Flap</td>
                               <td>7:30</td>
                               <td>7:45</td>
                                </tr>
                            <tr>
                               <td>1</td>
                               <td>7:45</td>
                               <td>8:23</td>
                            </tr>
                            <tr>
                               <td>2A</td>
                               <td>8:28</td>
                               <td>8:44</td>
                            </tr>
                             <tr>
                               <td>2B</td>
                               <td>8:49</td>
                               <td>9:06</td>
                            </tr>
                             <tr>
                               <td>3A</td>
                               <td>9:11</td>
                               <td>9:27</td>
                            </tr>
                              <tr>
                               <td>3B</td>
                               <td>9:32</td>
                               <td>9:49</td>
                            </tr>
                             <tr>
                               <td>Homeroom</td>
                               <td>9:54</td>
                               <td>10:54</td>
                            </tr>
                             <tr>
                               <td>4A</td>
                               <td>10:59</td>
                               <td>11:15</td>
                            </tr>
                             <tr>
                               <td>4B</td>
                               <td>11:20</td>
                               <td>11:37</td>
                            </tr>
                             <tr>
                               <td>5A</td>
                               <td>11:42</td>
                               <td>11:59</td>
                            </tr>
                             <tr>
                               <td>5B</td>
                               <td>12:04</td>
                               <td>12:21</td>
                            </tr>
                             <tr>
                               <td>6A</td>
                               <td>12:26</td>
                               <td>12:42</td>
                            </tr>
                             <tr>
                               <td>6B</td>
                               <td>12:47</td>
                               <td>1:04</td>
                            </tr>
                             <tr>
                               <td>7A</td>
                               <td>1:09</td>
                               <td>1:26</td>
                            </tr>
                             <tr>
                               <td>7B</td>
                               <td>1:31</td>
                               <td>1:48</td>
                            </tr>
                             <tr>
                               <td>8A</td>
                               <td>1:53</td>
                               <td>2:09</td>
                            </tr>
                             <tr>
                               <td>8B</td>
                               <td>2:14</td>
                               <td>2:31</td>
                            </tr>
                             <tr>
                               <td>9</td>
                               <td>2:36</td>
                               <td>3:15</td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>

        </md-content>
      </md-tab>
      <md-tab label="Finals">
        <md-content class="md-padding">
          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Time</th>
                               <th>Wednesday</th>
                               <th>Thursday</th>
                                <th>Friday</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td>8:00 - 9:30</td>
                               <td>3</td>
                               <td>1</td>
                                <td>7</td>
                            </tr>
                             <tr>
                                 <td>9:45 - 11:15</td>
                               <td>2</td>
                               <td>9</td>
                                <td>4</td>
                             </tr>
                             <tr>
                                 <td>11:30 - 1:00</td>
                               <td>6</td>
                               <td>5</td>
                                <td>8</td>
                             </tr>
                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>        </md-content>
      </md-tab>
      <md-tab label="Assembly">
        <md-content class="md-padding">

          <div class="col-lg-6">
             <!-- START panel-->
             <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>Period</th>
                               <th>Start</th>
                               <th>End</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td>Flap</td>
                               <td>7:30</td>
                               <td>7:45</td>
                                </tr>
                            <tr>
                               <td>1</td>
                               <td>7:45</td>
                               <td>8:25</td>
                            </tr>
                            <tr>
                               <td>2A</td>
                               <td>8:28</td>
                               <td>8:45</td>
                            </tr>
                             <tr>
                               <td>2B</td>
                               <td>8:50</td>
                               <td>9:10</td>
                            </tr>
                             <tr>
                               <td>3A</td>
                               <td>9:15</td>
                               <td>9:30</td>
                            </tr>
                              <tr>
                               <td>3B</td>
                               <td>9:35</td>
                               <td>9:55</td>
                            </tr>
                             <tr>
                               <td>4A</td>
                               <td>10:00</td>
                               <td>10:15</td>
                            </tr>
                             <tr>
                               <td>4B</td>
                               <td>10:20</td>
                               <td>10:40</td>
                            </tr>
                             <tr>
                               <td>5A</td>
                               <td>10:45</td>
                               <td>11:00</td>
                            </tr>
                             <tr>
                               <td>5B</td>
                               <td>11:05</td>
                               <td>11:25</td>
                            </tr>
                             <tr>
                               <td>6A</td>
                               <td>11:30</td>
                               <td>11:45</td>
                            </tr>
                             <tr>
                               <td>6B</td>
                               <td>11:50</td>
                               <td>12:10</td>
                            </tr>
                             <tr>
                               <td>7A</td>
                               <td>12:15</td>
                               <td>12:30</td>
                            </tr>
                             <tr>
                               <td>7B</td>
                               <td>12:35</td>
                               <td>12:55</td>
                            </tr>
                             <tr>
                               <td>8A</td>
                               <td>1:00</td>
                               <td>1:15</td>
                            </tr>
                             <tr>
                               <td>8B</td>
                               <td>1:20</td>
                               <td>1:40</td>
                            </tr>
                             <tr>
                               <td>9</td>
                               <td>1:45</td>
                               <td>2:25</td>
                            <tr>
                               <td>Assembly</td>
                               <td>2:35</td>
                               <td>3:15</td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <!-- END table-responsive-->
                </div>
             </div>
             <!-- END panel-->
          </div>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
