
<div class="container container-md">
  <p> </p>
  <p> </p>
  <p> </p>
   <center><p class="lead m0">All your school related information in one place!</p></center>
   <div class="row md-welcome-row">

    <a href="#/app/template">  <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <center> <p class="lead text-bold"><font color="black">Bell Schedule</font></p></div> </center>
         </div>
      </div>
        </a>

    <a href="#/app/whiteframe">  <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-25" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <center><p class="lead text-bold"><font color="black">School year calendar</font></p></div></center>
         </div>

      </div>

    </a>

<a href="#/app/navtree">
       <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-30" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
              <center> <p class="lead text-bold"><font color="black">Lunch Menu</font></p></div></center>
         </div>

      </div>
  </a>

<a href="#/app/buttons">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
                 <center><p class="lead text-bold"><font color="black">Clubs/Sports</font></p></div></center>
         </div>

      </div>

    </a>


      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
              <center> <p class="lead text-bold">Project 11</p></div></center>
         </div>
      </div>

      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
              <center>   <p class="lead text-bold">Announcements</p></div>
         </div>
      </div>

      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
            <center>     <p class="lead text-bold">Bus schedule</p></div>
         </div>
      </div>

      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
            <center>     <p class="lead text-bold">School Map</p></div>
         </div>
      </div>

      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
            <center>     <p class="lead text-bold">Teacher Availability</p></div>
         </div>
      </div>

      
   </div>

</div>
