
<div class="container container-md">
  <p> </p>
  <p> </p>
  <p> </p>
   <center><p class="lead m0">All your school related information in one place!</p></center>
   <div class="row md-welcome-row">

    <a href="#/app/template">  <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <center> <p class="lead text-bold"><font color="black">Bell Schedule</font></p></div> </center>
         </div>
      </div>
        </a>

    <a href="#/app/whiteframe">  <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <center><p class="lead text-bold"><font color="black">School year calendar</font></p></div></center>
         </div>

      </div>

    </a>

<a href="#/app/navtree">
       <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
              <center> <p class="lead text-bold"><font color="black">Lunch Menu</font></p></div></center>
         </div>

      </div>
  </a>

<a href="#/app/faq">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
                 <center><p class="lead text-bold"><font color="black">Clubs/Sports</font></p></div></center>
         </div>

      </div>

    </a>

<a href="#/app/panels">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
              <center> <p class="lead text-bold"><font color="black">Project 11</font></p></div></center>
         </div>
      </div>
</a>

<a href="#/app/notifications">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
              <center>   <p class="lead text-bold"><font color="black">Announcements</font></p></div>
         </div>
      </div>
    </a>
    <a ng-href="http://tmweb.pacebus.com/TMWebWatch/LiveArrivalTimes{{hash}}">

      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
            <center>     <p class="lead text-bold">Bus schedule</p></div>
         </div>
      </div>


      </a>


      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
            <center>     <p class="lead text-bold">School Map</p></div>
         </div>
      </div>

<a href="#/app/carousel">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
            <center>     <p class="lead text-bold"><font color="black">Teacher Availability</font></p></div>
         </div>
      </div>

      <a href="#/app/calendar">
            <div class="col-md-4">
               <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
                  <div class="card-body">
                  <center>     <p class="lead text-bold"><font color="black">Finals Grade Calculator</font></p></div>
               </div>
            </div>

      <a href="#/app/blog">
            <div class="col-md-4">
               <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
                  <div class="card-body">
                  <center>     <p class="lead text-bold"><font color="black">Facility Hours</font></p></div>
               </div>
            </div>

      <a href="#">
            <div class="col-md-4">
               <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
                  <div class="card-body">
                  <center>     <p class="lead text-bold"><font color="black">School News</font></p></div>
               </div>
            </div>

</a>

   </div>

</div>
